################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/VendingMachine/FileContentIndex/916d03c5-3237-41e7-9600-510be15b7156.vsidx
